#if ( ${packagename} )
package ${packagename};
#end

import java.sql.Connection;

public class ${classname} implements io.pgmigrate.packaging.PackagedMigrator {

    io.pgmigrate.Migrator migrator;

    public ${classname}() {
        migrator = new io.pgmigrate.Migrator(new io.pgmigrate.ManifestReader(), new io.pgmigrate.SqlReader());
    }

    public void migrate(Connection connection) throws Exception  {
        migrator.migrate("classpath://${packagenamepath}/schemas", connection);
    }
        

}